body {
	font-family: sans-serif;
}

.index {
	display: inline-block;
	width: 45px;
	padding-left: 5px;
}

.fizzbuzz {
	display: inline-block;
	text-align: center;
	width: 80px;
}

.odd {
	background-color: lightgray;
}

